<?xml version='1.0' encoding='utf-8'?>

<launch>
    <!--打开语音唤醒-->
    <include file="$(find castlex_awake)/launch/castlex_awake.launch"/>
    <!--打开命令词识别-->
    <node pkg = "castle_voice_system" type = "castlex_xiaogu_order_node" name = "castlex_xiaogu_order_node" output="screen"/>
    <!--打开命令词解析-->
    <node pkg = "castle_voice_system" type = "castlex_cmd_analysis.py" name = "XML_Analysis" output="screen">
        <param name="file_path" value="$(find castle_voice_system)/params/c.xml" />
    </node>
    
</launch>
